spring:
  main:
    banner-mode: "off"

  http:
    converters:
      preferred-json-mapper: jackson2

logging:
  structured:
    format:
      console: logstash

# noinspection SpringBootApplicationYaml
no.nav.security.jwt:
  client:
    registration:

      eux-oppgave-credentials:
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${CLIENT_EUXOPPGAVE_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

      eux-journal-credentials:
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${CLIENT_EUXJOURNAL_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

      eux-nav-rinasak-credentials:
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${CLIENT_EUXNAVRINASAK_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

      eux-rina-api-credentials:
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${CLIENT_EUXRINAAPI_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

      saf-credentials:
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${CLIENT_SAF_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

      dokarkiv-credentials:
        token-endpoint-url: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}
        grant-type: client_credentials
        scope: ${CLIENT_DOKARKIV_SCOPE}
        authentication:
          client-id: ${AZURE_APP_CLIENT_ID}
          client-jwk: ${AZURE_APP_JWK}
          client-auth-method: private_key_jwt

endpoint:
  euxnavrinasak: ${CLIENT_EUXNAVRINASAK_ENDPOINT}
  euxoppgave: ${CLIENT_EUXOPPGAVE_ENDPOINT}
  euxjournal: ${CLIENT_EUXJOURNAL_ENDPOINT}
  euxrinaapi: ${CLIENT_EUXRINAAPI_ENDPOINT}
  saf: ${CLIENT_SAF_ENDPOINT}
  dokarkiv: ${CLIENT_DOKARKIV_ENDPOINT}
